@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/home.css" />

<div class="homee">
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <h4>Choose a fragrance to be iconic!</h4>
    </div>
</div>

