body {
    background-image: url(https://i.pinimg.com/736x/33/3c/04/333c04d18595da49f6557f4aeb213267.jpg);
    background-size: cover;
    background-position: center;
}

.homee{
    margin-top:100px;
}
