.table {
    border-radius: 10px;
    overflow: hidden;
}

    .table th, .table td {
        vertical-align: middle;
        padding: 12px;
    }

.table-secondary {
    background-color: #EBE3DB;
}

.btn-primary {
    background-color: #3A2D2B;
    border-color: #3A2D2B;
    color: white;
}

    .btn-primary:hover {
        background-color: #CBAD8D;
        border-color: #CBAD8D;
    }


.btn-success {
    background-color: #3A2D2B;
    border-color: #3A2D2B;
    color: white;
}

    .btn-success:hover {
        background-color: #CBAD8D;
        border-color: #CBAD8D;
    }


.btn-outline-primary {
    color: #3A2D2B;
    border-color: #3A2D2B;
}

    .btn-outline-primary:hover {
        background-color: #CBAD8D;
        color: white;
        border-color: #CBAD8D;
    }

.create-container {
    background-color: #D1C7BD;
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 20px;
    margin: 20px;
    margin-top: 100px;
}

.order-container {
    background-color: #f8f9fa;
    padding: 40px;
    border-radius: 15px;
    max-width: 600px;
    margin: auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
